<app-modal title="{{modalTitle}}">

  <div class="d-flex justify-content-center" *ngIf="isLoading">
    <div>Creando cliente en el sistema...</div>
    <div class="spinner-border" role="status">
      <span class="sr-only">Loading...</span>
    </div>
  </div>

  <form [formGroup]="companyForm">
    <div>
      <h4 class="card-title">{{'company.info' | translate }}</h4>
    </div>
    <div class="form-group">
      <label for="name"> {{ 'name' | translate }}
      </label>
      <input type="text" class="form-control" id="name" placeholder=" {{ 'name' | translate }}" formControlName="name">
    </div>

    <div class="form-group">
      <label for="name"> {{ 'description' | translate }}</label>
      <input type="text" class="form-control" id="description" placeholder=" {{ 'description' | translate }}"
        formControlName="description">
    </div>

    <div class="form-check form-check-flat form-check-primary">
      <label class="form-check-label">
        <input type="checkbox" class="form-check-input" formControlName="active">
        {{ 'active' | translate }}
        <i class="input-helper"></i>
      </label>
    </div>

    <div *ngIf="!this.editionMode">
      <div>
        <h4 class="card-title">{{'user.default' | translate }}</h4>
      </div>
      <div class="form-row">
        <div class="col-md-6 mb-3">
          <label for="username"> {{ 'user.username' | translate }}
          </label>
          <input type="text" class="form-control" id="username" placeholder=" {{ 'user.username' | translate }}"
            formControlName="username">
        </div>

        <div class="col-md-6 mb-3">
          <label for="password"> {{ 'user.password' | translate }}
          </label>
          <input type="password" class="form-control" id="password" placeholder=" {{ 'user.password' | translate }}"
            formControlName="password">
        </div>
      </div>

      <div class="form-row">
        <div class="col-md-6 mb-3">
          <label for="name"> {{ 'user.firstname' | translate }}
          </label>
          <input type="text" class="form-control" id="firstname" placeholder=" {{ 'user.firstname' | translate }}"
            formControlName="firstname">
        </div>

        <div class="col-md-6 mb-3">
          <label for="lastname"> {{ 'user.lastname' | translate }}
          </label>
          <input type="text" class="form-control" id="lastname" placeholder=" {{ 'user.lastname' | translate }}"
            formControlName="lastname">
        </div>
      </div>

      <div class="form-row">
        <div class="col-md-6 mb-3">
          <label for="dni"> {{ 'user.dni' | translate }}
          </label>
          <input type="text" class="form-control" id="dni" placeholder=" {{ 'user.dni' | translate }}"
            formControlName="dni">
        </div>

        <div class="col-md-6 mb-3">
          <label for="email"> {{ 'user.email' | translate }}
          </label>
          <input type="text" class="form-control" id="email" placeholder=" {{ 'user.email' | translate }}"
            formControlName="email">
        </div>
      </div>
    </div>

    <div>
      <h4 class="card-title">{{'company.access' | translate }}</h4>
    </div>

    <div class="form-check form-check-flat form-check-primary">
      <label class="form-check-label">
        <input type="checkbox" class="form-check-input" formControlName="ergo">
        {{ 'ergo' | translate }}
        <i class="input-helper"></i>
      </label>
    </div>

    <div class="form-check form-check-flat form-check-primary">
      <label class="form-check-label">
        <input type="checkbox" class="form-check-input" formControlName="aliro">
        {{ 'aliro' | translate }}
        <i class="input-helper"></i>
      </label>
    </div>


  </form>

  <div class="modal-footer">
    <button type="button" class="btn btn-danger btn-sm" (click)="delete()" [disabled]="isLoading" *ngIf="false">
      {{ 'delete' | translate }}</button>
    <button type="button" class="btn btn-success btn-sm" (click)="submit()"
      [disabled]="this.companyForm.invalid || isLoading">
      {{ 'save' | translate }}</button>
    <button type="button" class="btn btn-light btn-sm" data-dismiss="modal" (click)="closeModal()"
      [disabled]="isLoading">
      {{ 'cancel' | translate }}</button>
  </div>

</app-modal>