<app-modal title="{{modalTitle}}">
  <form [formGroup]="plantCoordsForm" (ngSubmit)="submit()">
    <div class="form-group">
      <label for="name">{{ 'name'  | translate }}</label>
      <input type="text" class="form-control" id="name" placeholder="{{ 'name'  | translate }}" formControlName="name">
    </div>

    <div class="form-group">
      <label for="zoneType">{{ 'plant.zonetype'  | translate }}</label>
      <select class="form-control" id="zoneType" #zoneTypeHtml formControlName="virtualZoneType">
        <option [value]="zone.value" *ngFor="let zone of zoneTypeList">{{zone.name}}</option>
      </select>
    </div>

    <div class="form-group" *ngIf="this.plantCoordsForm.get('virtualZoneType').value == sensor">
      <label for="sensorType">{{ 'plant.sensortype'  | translate }}</label>
      <select class="form-control" id="sensorType" #sensorTypeHtml formControlName="sensorType">
        <option [value]="sensor.uuid" *ngFor="let sensor of sensorTypeList">{{sensor.name}}</option>
      </select>
    </div>

    <div class="form-group" *ngIf="this.plantCoordsForm.get('virtualZoneType').value == sensor">
      <label for="sensorId">{{ 'plant.sensorid'  | translate }}</label>
      <input type="text" class="form-control" id="idsensor" placeholder="{{ 'plant.sensorid'  | translate }}"
        formControlName="sensorId">
    </div>

    <div class="form-group" *ngIf="this.plantCoordsForm.get('virtualZoneType').value == sensor">
      <label for="status">{{ 'status'  | translate }}</label>
      <select class="form-control" id="status" #sensorTypeHtml formControlName="status">
        <option [value]="status.value" *ngFor="let status of statusList">{{status.title}}</option>
      </select>
    </div>

    <div class="mt-4" *ngIf="this.plantCoordsForm.get('virtualZoneType').value == zonevirtual">
      <ngb-accordion [closeOthers]="true" (click)="markEpisCheckbox()">
        <!--activeIds="collapse-1"-->
        <ngb-panel id="collapse-1" title="{{'plant.epi' | translate}}">
          <ng-template ngbPanelContent>
            <div class="form-check form-check-flat form-check-primary" *ngFor="let epi of epiList">
              <label class="form-check-label">
                <input type="checkbox" class="form-check-input" id="{{epi.name}}">
                {{ epi.name }}
                <i class="input-helper"></i>
              </label>
            </div>

          </ng-template>
        </ngb-panel>
      </ngb-accordion>
    </div>

  </form>

  <div class="modal-footer">
    <button type="button" class="btn btn-danger btn-sm" (click)="delete()"
      *ngIf="this.plantCoordsForm.get('uuid').value != null">{{ 'delete'  | translate }}</button>
    <button type="button" class="btn btn-success btn-sm" (click)="submit()"
      [disabled]="this.plantCoordsForm.invalid">{{ 'save'  | translate }}</button>
    <button type="button" class="btn btn-light btn-sm" data-dismiss="modal"
      (click)="closeModal()">{{ 'cancel'  | translate }}</button>
  </div>

</app-modal>