<div class="d-flex align-items-center auth px-0">
  <div class="row w-100 mx-0">
    <div class="brand-logo">
      <img src="assets/images/masingenieroslogo.png" alt="logo">
    </div>
    <div class="col-10 grid-margin stretch-card">
      <div class="card">
        <div class="card-body">
          <infini-alert></infini-alert>
          <h4 class="card-title">{{ 'registervisit.title' | translate }}</h4>
          <p class="card-description">
            {{ 'registervisit.description' | translate }}
          </p>
          <form [formGroup]="registerForm" (ngSubmit)="submit()">

            <div class="form-row">
              <div class="col-md-2 mb-2">
                <label for="dniname">{{ 'user.dni' | translate }}</label>
                <input type="text" class="form-control mb-2 mr-sm-2" id="dni" placeholder="{{ 'user.dni' | translate }}"
                  formControlName="dni" (change)="getUserByDni()" [ngClass]="{'alert-danger' : hasFormError('dni') }"
                  autocomplete="off">
              </div>

              <div class="col-md-3 mb-3">
                <label for="firstname">{{ 'user.firstname' | translate }}</label>
                <input type="text" class="form-control" id="firstname" placeholder="{{ 'user.firstname' | translate }}"
                  formControlName="firstname" [ngClass]="{'alert-danger' : hasFormError('firstname') }"
                  autocomplete="off">
              </div>

              <div class="col-md-3 mb-3">
                <label for="lastname">{{ 'user.lastname' | translate }}</label>
                <input type="text" class="form-control" id="lastname" placeholder="{{ 'user.lastname' | translate }}"
                  formControlName="lastname" [ngClass]="{'alert-danger' : hasFormError('lastname') }"
                  autocomplete="off">
              </div>

              <div class="col-md-2 mb-2">
                <label for="email">{{ 'user.email' | translate }}</label>
                <input type="text" class="form-control" id="email" placeholder="{{ 'user.email' | translate }}"
                  formControlName="email" [ngClass]="{'alert-danger' : hasFormError('email') }" autocomplete="off">
              </div>

              <div class="col-md-2 mb-2">
                <label for="company">{{ 'user.company' | translate }}</label>
                <input type="text" class="form-control has-danger" id="company"
                  placeholder="{{ 'user.company' | translate }}" formControlName="company"
                  [ngClass]="{'alert-danger' : hasFormError('company') }" autocomplete="off">
              </div>
            </div>

            <div class="form-row">

              <div class="col-md-6 mb-3" *ngIf="hasProjects">
                <label for="reason">{{ 'visit.project' | translate }}</label>
                <select class="form-control" id="reason" formControlName="project"
                  (change)="this.registerForm.get('reason').setValue(null)"
                  [ngClass]="{'alert-danger' : hasFormError('project') }" autocomplete="off">
                  <option [value]="project._links.self.href" *ngFor="let project of projectList">{{project.name}}
                  </option>
                </select>
              </div>

              <div class="col-md-6 mb-3">
                <label for="reason">{{ 'visit.reason' | translate }}</label>
                <select class="form-control" id="reason" formControlName="reason"
                  (change)="this.registerForm.get('project').setValue(null)"
                  [ngClass]="{'alert-danger' : hasFormError('reason') }" autocomplete="off">
                  <option [value]="reason._links.self.href" *ngFor="let reason of reasonList">{{reason.name}}</option>
                </select>
              </div>
            </div>

            <button type="submit" class="btn btn-gradient-primary mb-6" #registerButton
              [disabled]="!registerForm.valid && (this.registerForm.get('project').value == null && this.registerForm.get('project').value == null)">{{ buttonTitle }}</button>
          </form>
        </div>

        <div class="card">
          <div class="card-body">
            <div style="width: 300px; height: 300px; top:0; bottom: 10px; left: 0; right: 0;margin: auto;">
              <h4 class="card-title">{{ 'user.signature' | translate }}</h4>
              <div style="border-style: dashed; border-color: #f2edf3;" *ngIf="loadSignature" #signatureDiv>
                <signature-pad #signaturePadC [options]="signaturePadOptions" (onBeginEvent)="drawStart()"
                  (onEndEvent)="drawComplete()"></signature-pad>
              </div>

              <div *ngIf="!loadSignature">
                <img [src]="userSignature.src" [height]="userSignature.height" width="userSignature.width">
              </div>
            </div>

          </div>
        </div>
        <div style="top:0;left: 0;right: 0;margin-top: 20px !important;margin-bottom: 20px !important;margin: auto;">
          <button type="button" class="btn btn-lg btn-light btn-icon-text" (click)="clearSignature()"
            *ngIf="loadSignature">
            <i class="mdi mdi-reload btn-icon-prepend"></i>
            {{ 'user.removesignature' | translate }}
          </button>
        </div>

      </div>
    </div>
  </div>
</div>