<app-modal title="{{modalTitle}}">
  <form [formGroup]="sensorTypeForm">
    <div class="form-group">
      <label for="name">{{ 'name'  | translate }}</label>
      <input type="text" class="form-control" id="name" placeholder="{{ 'name'  | translate }}" formControlName="name">
    </div>

    <div class="form-group">
      <label for="name">{{ 'description'  | translate }}</label>
      <input type="text" class="form-control" id="description" placeholder="{{ 'description'  | translate }}"
        formControlName="description">
    </div>

    <div class="form-group">
      <label for="name">{{ 'image'  | translate }}</label>
      <input type="file" class="form-control" id="image" #image placeholder="{{ 'image'  | translate }}" id="sensorLogo"
        (change)="readURL(image)">
      <div style="margin-top: 10px;">
        <img height="100px" width="100px" id="sensorPreview" [src]="this.sensorTypeForm.get('image').value" *ngIf="this.sensorTypeForm.get('image').value" />
      </div>
    </div>

    <div class="form-check form-check-flat form-check-primary">
      <label class="form-check-label">
        <input type="checkbox" class="form-check-input" formControlName="active">
        {{ 'active'  | translate }}
        <i class="input-helper"></i>
      </label>
    </div>
  </form>

  <div class="modal-footer">
    <button type="button" class="btn btn-danger btn-sm" (click)="delete()"
      *ngIf="this.sensorTypeForm.get('uuid').value != null">{{ 'delete'  | translate }}</button>
    <button type="button" class="btn btn-success btn-sm" (click)="submit()"
      [disabled]="this.sensorTypeForm.invalid">{{ 'save'  | translate }}</button>
    <button type="button" class="btn btn-light btn-sm" data-dismiss="modal"
      (click)="closeModal()">{{ 'cancel'  | translate }}</button>
  </div>

</app-modal>
