<div class="col-lg-12 grid-margin stretch-card">
  <div class="card">
    <infini-alert></infini-alert>
    <div class="card-body">
      <h4 class="card-title">{{ 'plant.sensor.title'  | translate }}</h4>
      <div clas="row" style="float:left; margin-bottom: 1em;">
        <select class="form-control" id="plant" #optionFilter (change)="changePlant()">
          <option [value]="plant._links.self.href" *ngFor="let plant of plantList">{{plant.name}}</option>
        </select>

      </div>
      <div class="table-responsive">
        <ng2-smart-table [settings]="settings" [source]="source" (custom)="onCustomAction($event)"></ng2-smart-table>
      </div>
    </div>
  </div>
</div>