@import "../../../assets/scss/components/custom-style";

:host /deep/ .active {
  width: 100%;
  height: 100%;
  text-align: right;
  color: green;
}

:host /deep/ .maintenance {
  width: 100%;
  height: 100%;
  text-align: right;
  color: orange;
}

:host /deep/ .outservice {
  width: 100%;
  height: 100%;
  text-align: right;
  color: red;
}
