<div class="abc">
  <div>
    <a class="hiddenanchor" id="signup"></a>
    <a class="hiddenanchor" id="signin"></a>

    <div *ngIf="!loggedIn" class="login_wrapper">
      <div class="animate form login_form">
        <section class="login_content">
          <form [formGroup]="loginForm" (ngSubmit)="login()">
            <h1>Login Form</h1>
            <div>
              <input type="text" class="form-control" placeholder="Username" formControlName="username" autocomplete="username"/>
            </div>
            <div>
              <input type="password" class="form-control" placeholder="Password" formControlName="password" autocomplete="current-password" />
            </div>
            <div>
              <input type="text" class="form-control" placeholder="Tenant ID" formControlName="tenantId" />
            </div>
            <p *ngIf="error" id="error" class="form-text" style="color: red">The user name or password is incorrect. Try
              again</p>
            <div>
              <button type="submit" class="btn btn-primary">Log in</button>
              <a class="reset_pass" (click)="resetPassword()">Lost your password?</a>
            </div>
            <div class="clearfix"></div>
            <div class="separator">
              <div class="clearfix"></div>
              <br />
              <div>
                <p>@2020 All Rights Reserved. Mas Ingenieros. Privacy and Terms</p>
              </div>
            </div>
          </form>
        </section>
      </div>
    </div>
  </div>
</div>