<app-modal title="{{modalTitle}}">
  <form [formGroup]="plantForm" (ngSubmit)="submit()">
    <div class="form-group">
      <label for="name">{{ 'name'  | translate }}</label>
      <input type="text" class="form-control" id="name" placeholder="{{ 'name'  | translate }}" formControlName="name"
        [ngClass]="{'alert-danger' : !this.plantForm.get('name').valid && (this.plantForm.get('name').touched || this.plantForm.get('name').dirty)}">
      <div class="invalid-feedback" *ngIf="!this.plantForm.get('name').valid">
        {{ this.plantForm.get('name').getError('message') }}
      </div>
    </div>

    <div class="form-group">
      <label for="location">{{ 'plant.location'  | translate }}</label>
      <input type="text" class="form-control" placeholder="{{ 'plant.location'  | translate }}"
        formControlName="location" [ngClass]="{'alert-danger' : hasFormError('location') }" />
    </div>

    <div class="form-group">
      <label for="tlf">{{ 'plant.phone'  | translate }}</label>
      <input type="text" class="form-control" placeholder="{{ 'plant.phone'  | translate }}" formControlName="phone"
        [ngClass]="{'alert-danger' : hasFormError('phone') }" />
    </div>

    <div class="form-group">
      <label for="alternativephone">{{ 'plant.alternativephone'  | translate }}</label>
      <input type="text" class="form-control" placeholder="{{ 'plant.alternativephone'  | translate }}"
        formControlName="alternativePhone" />
    </div>

    <div class="form-group">
      <label for="maximumCapacity">{{ 'plant.maximumcapacity'  | translate }}</label>
      <input type="number" class="form-control" placeholder="{{ 'plant.maximumcapacity'  | translate }}"
        formControlName="maximumCapacity" [ngClass]="{'alert-danger' : hasFormError('maximumCapacity') }" />
    </div>

  </form>

  <div class="modal-footer">
    <button type="button" class="btn btn-danger btn-sm" (click)="delete()"
      *ngIf="this.plantUrl != null">{{ 'delete'  | translate }}</button>
    <button type="button" class="btn btn-success btn-sm" (click)="submit()"
      [disabled]="this.plantForm.invalid">{{ 'save'  | translate }}</button>
    <button type="button" class="btn btn-light btn-sm" data-dismiss="modal"
      (click)="closeModal()">{{ 'cancel'  | translate }}</button>
  </div>

</app-modal>