<app-modal title="{{modalTitle}}">
  <form [formGroup]="plantForm" (ngSubmit)="submit()">
    <div class="form-group">
      <label for="name">Nombre</label>
      <input type="text" class="form-control" id="name" placeholder="Nombre" formControlName="name">
    </div>

    <div class="form-group">
      <label for="location">Dirección</label>
      <input type="text" class="form-control" placeholder="Dirección" formControlName="location"
        [ngClass]="{'alert-danger' : hasFormError('location') }" />
    </div>

    <div class="form-group">
      <label for="tlf">Teléfono</label>
      <input type="text" class="form-control" placeholder="Tlf" formControlName="phone"
        [ngClass]="{'alert-danger' : hasFormError('phone') }" />
    </div>

    <div class="form-group">
      <label for="alternativephone">Alternative Phone</label>
      <input type="text" class="form-control" placeholder="Tlf Alternativo" formControlName="alternativePhone" />
    </div>

    <div class="form-group">
      <label for="maximumCapacity">Aforo máximo</label>
      <input type="number" class="form-control" placeholder="Aforo máx." formControlName="maximumCapacity"
        [ngClass]="{'alert-danger' : hasFormError('maximumCapacity') }" />
    </div>

  </form>

  <div class="modal-footer">
    <button type="button" class="btn btn-danger btn-sm" (click)="delete()"
      *ngIf="this.plantForm.get('uuid').value != null">Eliminar</button>
    <button type="button" class="btn btn-success btn-sm" (click)="submit()"
      [disabled]="this.plantForm.invalid">Guardar</button>
    <button type="button" class="btn btn-light btn-sm" data-dismiss="modal" (click)="closeModal()">Cancelar</button>
  </div>

</app-modal>