<div class="col-lg-12 grid-margin stretch-card">
  <div class="card">
    <infini-alert></infini-alert>
    <div class="card-body">
      <h4 class="card-title">{{ 'plant.plantlisttitle'  | translate }}</h4>
      <div style="float:right; margin-bottom: 1em;">
        <button type="button" class="btn btn-primary btn-sm" (click)="openSaveModal(null)">{{ 'new'  | translate }}<i
            class="mdi mdi-plus ml-1"></i></button>
      </div>
      <div class="table-responsive">
        <ng2-smart-table [settings]="settings" [source]="data"
        (custom)="onCustomAction($event)"></ng2-smart-table>
      </div>
    </div>
  </div>
</div>
