<div class="col-lg-12 grid-margin stretch-card">
  <div class="card">
    <div class="card-body">
      <infini-alert></infini-alert>
      <h4 class="card-title">Visitas</h4>
      <div class="row" style="float:right; margin-bottom: 1em;">
        <div class="col">
          <select class="form-control" id="reason" placeholder="Opciones" #optionFilter (change)="refreshList()">
                <option [value]="option.value" *ngFor="let option of optionList">{{option.name}}</option>
              </select>
        </div>
        <div class="col">
          <button type="button" class="btn btn-primary btn-sm" (click)="refreshList()">Refrescar<i
              class="mdi mdi-refresh-circle ml-1"></i></button>
        </div>
      </div>
      <div class="table-responsive">
        <table class="table table-bordered">
            <thead class="thead-dark">
                <tr>
              <th>
                Persona
              </th>
              <th>
                Motivo
              </th>
              <th>
                Hora Entrada
              </th>
              <th>
                Hora Salida
              </th>
              <th>Acciones</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let visit of visitList">
              <td>{{visit.user.firstname}} {{visit.user.lastname}}</td>
              <td>{{visit.reason.name}}</td>
              <td>{{visit.startDate | date: 'dd/MM/yyyy HH:mm'}}</td>
              <td>{{visit.endDate | date: 'dd/MM/yyyy HH:mm'}}</td>
              <td>
                <button type="button" class="btn btn-info btn-sm btn-icon-text" (click)="updateVisit(visit)" *ngIf="visit.endDate == null">
                    <i class="mdi mdi-exit-to-app btn-icon-append"></i>Marcar Salida                       
                  </button>
              </td>
            <tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
